<div class='form-shadow container col-md-9 mt-auto ml-auto mb-2 pb-2 bg-ligh rounded'>
	<h4 class='text-center display-4 my-4'>
		Tenant Details
	</h4>
	<% include ../partials/messages %>
	<div class='update-success-fail'></div>
	<div class='form-container container-fluid row d-flex flex-row justify-content-between flex-wrap-reverse align-content-center align-items-center'>
		<div class='col-7 details-from flex-fill'>
			<form action="<%= `/users/tenants/update-tenant/${_id}` %>" id='tenant-details-form' class='mb-2 mr-5' method='POST'>
				<div class='form-group'>
					<input
						type='hidden'
						name='_id'
						id='_id'
						class='form-control'
						value="<%= typeof _id !== 'undefined' ? _id : ''%>"
					>
				</div>
				<div class='form-group'>
					<label for='name'>Tenant's name: </label>
					<input
						type='text'
						name='name'
						id='name'
						class='form-control'
						value="<%= typeof name !== 'undefined' ? name : ''%>"
						placeholder="Tenant name"
						required
					>
				</div>
				<div class='form-group'>
					<label for='fathername'>Tenant's father name: </label>
					<input
						type='text'
						name='fathername'
						id='fathername'
						value="<%= typeof fathername !== 'undefined' ? fathername : ''%>"
						class='form-control'
						placeholder="Tenant's father name"
						required
					>
				</div>
				<div class='form-group'>
					<label for='mothername'>Tenant's mother name: </label>
					<input
						type='text'
						name='mothername'
						id='mothername'
						value="<%= typeof mothername !== 'undefined' ? mothername : ''%>"
						class='form-control'
						placeholder="Tenant's mother name"
						required
					>
				</div>
				<div class='form-group'>
					<label for='occupation'>Tenant's occupation: </label>
					<input
						type='text'
						name='occupation'
						id='occupation'
						value="<%= typeof occupation !== 'undefined' ? occupation : ''%>"
						class='form-control'
						placeholder="Tenant's occupation"
						required
					>
				</div>
				<div class='form-group'>
					<label for='permaddress'>Tenant's permanent address: </label>
					<input
						type='text'
						name='permaddress'
						id='permaddress'
						value="<%= typeof permaddress !== 'undefined' ? permaddress : ''%>"
						class='form-control'
						placeholder="Tenant's permanent address"
						required
					>
				</div>
				<div class='form-group'>
					<label for='mobile'>Tenant's mobile number: </label>
					<input
						type='text'
						name='mobile'
						id='mobile'
						value="<%= typeof mobile !== 'undefined' ? mobile : ''%>"
						class='form-control'
						placeholder="Tenant's mobile number"
						required
					>
				</div>
				<div class='form-group'>
					<label for='email'>Tenant's email: </label>
					<input
						type='email'
						name='email'
						id='email'
						value="<%= typeof email !== 'undefined' ? email : ''%>"
						class='form-control'
						placeholder="Tenant's email"
						required
					>
				</div>
				<div class="form-group">
					<label for="vehicleType">Tenant's vechicle type:</label>
					<select class="form-control" name="vehicleType" 
						id="vehicleType"
						value="<%= typeof vehicleType !== 'undefined' ? vehicleType : ''%>"
					>
						<option value="Two wheeler" selected>Two wheeler</option>
						<option value="Four wheeler">Four wheeler</option>
					</select>
				</div>
				<div class='form-group'>
						<label for='vehicleRegNum'>Tenant's vehicle registration number: </label>
						<input
							type='text'
							name='vehicleRegNum'
							id='vehicleRegNum'
							value="<%= typeof vehicleRegNum !== 'undefined' ? vehicleRegNum : '' %>"
							class='form-control'
							placeholder="Tenant's vehicle registration number"
							required
						>
				</div>
				<button id="update-tenant-btn" type="submit" class="btn btn-primary btn-block">Submit</button>
			</form>
		</div>
	</div>
</div>