<div class="profile-container">
	<div class="all-details bg-light">
		<div class="essent-details">
			<div class="profile-pic">
				<img src="<%= typeof profilepicId === 'undefined' && profilepicId ? `/users/profile/profilepic/${profilepicId}` : 'https://i.pravatar.cc/'%>" alt="profile picture" >
			</div>
			<ul class="profile-details">
				<li class="detail">
					<h4><%=typeof name !== 'undefined' ? name : '' %></h4>
				</li>
				<li class="detail">
					<!-- <i class="fa fa-building" aria-hidden="true"></i> -->
					<b><i>Flat : </i></b>
					<%=typeof flatnum !== 'undefined' ? flatnum : '' %>
				</li>
				<li class="detail">
						<!-- <i class="fa fa-male" aria-hidden="true"></i> -->
						<b><i>Father Name : </i></b>
					<%=typeof fathername !== 'undefined' ? fathername : '' %>
				</li>
				<li class="detail">
						<!-- <i class="fa fa-female" aria-hidden="true"></i> -->
						<b><i>Mother Name : </i></b>
					<%=typeof mothername !== 'undefined' ? mothername : '' %>
				</li>
				<li class="detail">
						<!-- <i class="fa fa-briefcase" aria-hidden="true"></i> -->
						<b><i>Occupation : </i></b>
					<%=typeof occupation !== 'undefined' ? occupation : '' %>
				</li>
				<li class="detail">
					<!-- <i class="fa fa-address-card" aria-hidden="true"></i> -->
					<b><i>Communication Address : </i></b>
					<%=typeof commaddress !== 'undefined' ? commaddress : '' %>
				</li>
				<li class="detail">
					<!-- <i class="fa fa-address-card" aria-hidden="true"></i> -->
					<b><i>Permenant Address : </i></b>
					<%=typeof permaddress !== 'undefined' ? permaddress : '' %>
				</li>
			</ul>
		</div>
		<div class="proof-details">
			
		</div>
	</div>
</div>

