<div class="card my-5">
		<!-- <img class="card-img-top" src="" alt="Card image cap"> -->
		<div class="card-body">
			<h5 class="card-title">
				<%=typeof name !== 'undefined' ? name : '' %>
			</h5>
			<p class="card-text">
				Flat no.:  <%=typeof flatnum !== 'undefined' ? flatnum : '' %>
			</p>
			<p class="card-text">
				Father Name: <%=typeof fathername !== 'undefined' ? fathername : '' %>
			</p>
			<p class="card-text">
				Mother Name: <%=typeof mothername !== 'undefined' ? mothername : '' %>
			</p>
			<p class="card-text">
				Occupation: <%=typeof occupation !== 'undefined' ? occupation : '' %>
			</p>
			<p class="card-text">
				Communication Address: <%=typeof commaddrress !== 'undefined' ? commddrress : '' %>
			</p>
			<p class="card-text">
				Permanent Address: <%=typeof permaddress !== 'undefined' ? permaddress : '' %>
			</p>
			<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
		</div>
	</div>