<div class="profile-container">
	<div class="all-details bg-light">
		<div class="essent-details">
			<ul class="profile-details">
				<li class="detail">
					<h4><%=typeof name !== 'undefined' ? name : '' %></h4>
				</li>
				<!-- <li class="detail hidden">
					<b><i>Id : </i></b>
					<%=typeof _userId !== 'undefined' ? _userId : '' %>
				</li> -->
				<li class="detail">
						<!-- <i class="fa fa-male" aria-hidden="true"></i> -->
						<b><i>Father Name : </i></b>
					<%=typeof fathername !== 'undefined' ? fathername : '' %>
				</li>
				<li class="detail">
						<!-- <i class="fa fa-female" aria-hidden="true"></i> -->
						<b><i>Mother Name : </i></b>
					<%=typeof mothername !== 'undefined' ? mothername : '' %>
				</li>
				<li class="detail">
						<!-- <i class="fa fa-briefcase" aria-hidden="true"></i> -->
						<b><i>Occupation : </i></b>
					<%=typeof occupation !== 'undefined' ? occupation : '' %>
				</li>
				<li class="detail">
					<!-- <i class="fa fa-briefcase" aria-hidden="true"></i> -->
					<b><i>Mobile : </i></b>
				<%=typeof mobile !== 'undefined' ? mobile : '' %>
				</li>
				<li class="detail">
					<!-- <i class="fa fa-address-card" aria-hidden="true"></i> -->
					<b><i>Permenant Address : </i></b>
					<%=typeof permaddress !== 'undefined' ? permaddress : '' %>
				</li>
				<li class="detail">
					<!-- <i class="fa fa-address-card" aria-hidden="true"></i> -->
					<b><i>Vechicle type : </i></b>
					<%=typeof vehicleType !== 'undefined' ? vehicleType : '' %>
				</li>
				<li class="detail">
					<!-- <i class="fa fa-address-card" aria-hidden="true"></i> -->
					<b><i>Vehicle number : </i></b>
					<%=typeof vehicleRegNum !== 'undefined' ? vehicleRegNum : '' %>
				</li>
			</ul>
		</div>
		
		<div class="edit-profile-btn">
			<a href="<%= `/users/tenants/update-tenant/${_id}` %>" class="edit-profile-btn"><button type="button" class="btn btn-primary btn-block">Edit</button></a>
		</div>
	</div>
</div>