<div
	class="form-shadow container col-md-9 mt-auto ml-auto mb-2 pb-2 bg-light rounded"
>
	<h4 class="text-center display-4 my-4">
		Profile details
	</h4>
	<% include ../partials/messages %>
	<div class="update-success-fail"></div>
  <div class="forms-container container-fluid row d-flex flex-row justify-content-between flex-wrap-reverse align-content-center align-items-center">
		<div class="col-7 details-form flex-fill">
			<form
				id="profile-details-form"
				class="mb-2 mr-5"
				action="/users/profile/update"
				method="POST"
			>
				<div class="form-group">
					<label for="flatnum">Flat number:</label>
					<input
						type="text"
						id="flatnum"
						name="flatnum"
						class="form-control"
						value="<%=typeof flatnum !== 'undefined' ? flatnum : ''%>"
						placeholder="Flat number"
						required
					/>
				</div>
				<div class="form-group">
					<label for="name">Your Name:</label>
					<input
						type="text"
						name="name"
						id="name"
						class="form-control"
						value="<%=typeof name !== 'undefined' ? name : '' %>"
						placeholder="Name"
						required
					/>
				</div>
				<div class="form-group">
					<label for="father">Name of your father:</label>
					<input
						type="text"
						name="fathername"
						id="father"
						class="form-control"
						value="<%=typeof fathername !== 'undefined' ? fathername : '' %>"
						placeholder="Name of your father"
					/>
				</div>
				<div class="form-group">
					<label for="mother">Name of your mother:</label>
					<input
						type="text"
						name="mothername"
						id="mother"
						class="form-control"
						value="<%=typeof mothername !== 'undefined' ? mothername : '' %>"
						placeholder="Name of your mother"
					/>
				</div>
				<div class="form-group">
					<label for="occupation">Your Occupation:</label>
					<input
						type="text"
						name="occupation"
						id="occupation"
						class="form-control"
						value="<%=typeof occupation !== 'undefined' ? occupation : '' %>"
						placeholder="Your Occupation"
					/>
				</div>
				<div class="form-group">
					<label for="commaddr">Communication Address:</label>
					<textarea
						type=""
						name="commaddress"
						id="commaddr"
						class="form-control"
						placeholder="Communication Address"
						cols="30"
						rows="5"
					><%=typeof commaddress !== 'undefined' ? commaddress : '' %></textarea>
				</div>
				<div class="form-group custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="copy-address" name="example1">
					<label class="custom-control-label" for="copy-address">Same as communication address</label>
				</div>
				<div class="form-group">
					<label for="permaddr">Permanent Address:</label>
					<textarea
						name="permaddress"
						id="permaddr"
						class="form-control"
						placeholder="Permanent Address"
						cols="30"
						rows="5"
					><%=typeof permaddress !== 'undefined' ? permaddress : '' %></textarea>
				</div>
				<button id="update-profile-btn" type="submit" class="btn btn-primary btn-block">Update</button>
			</form>
		</div>
		<div class="col-5 pics-form flex-fill">
			<div class="card card-body mb-3 p-2 profile-pic-card">
				<img class="profile-pic" src="/users/profile/profilepic" alt="profile picture" >
			</div>
			<form class="mb-2" action="/users/profile/profile-pic-upload" method="POST" enctype="multipart/form-data">
				<div class="custom-file mb-3" id="profile-pic-input">
					<input type="file" name="profilepic" class="custom-file-input" id="pic-upload">
					<label class="custom-file-label color-black" for="pic-upload">Choose a profile pic</label>
				</div>
				<button type="submit" class="btn btn-primary btn-block">Upload</button>
			</form>
			<div class="card card-body mb-3 p-2 profile-pic-card">
				<img class="profile-pic" src="/users/profile/addressproof" alt="profile picture" >
			</div>
			<form class="mb-2" action="/users/profile/address-proof-upload" method="POST" enctype="multipart/form-data">
				<div class="custom-file mb-3" id="profile-pic-input">
					<input type="file" name="addressproof" class="custom-file-input" id="pic-upload">
					<label class="custom-file-label color-black" for="pic-upload">Submit address proof</label>
				</div>
				<button type="submit" class="btn btn-primary btn-block">Upload</button>
			</form>
			<div class="card card-body mb-3 p-2 profile-pic-card">
				<img class="profile-pic" src="/users/profile/saleproof" alt="profile picture" >
			</div>
			<form class="mb-2" action="/users/profile/sale-proof-upload" method="POST" enctype="multipart/form-data">
				<div class="custom-file mb-3" id="profile-pic-input">
					<input type="file" name="saleproof" class="custom-file-input" id="pic-upload">
					<label class="custom-file-label color-black" for="pic-upload">Submit sale proof</label>
				</div>
				<button type="submit" class="btn btn-primary btn-block">Upload</button>
			</form>
		</div>
	</div>
</div>
